.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
}

.clickable {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.file {
    width: 150px;
    height: 150px;
}

.file-name {
    color: white;
    font-family: 'Segoe UI Variable', sans-serif;
    font-size: 30px;
}
