.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
}

.clickable {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.file {
    width: 100px;
    height: 100px;
}

.file-name {
    color: white;
    font-family: 'Segoe UI Variable', sans-serif;
    font-size: 30px;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 20000ms;
}

.fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 20000ms;
  }